:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dark-blue: hsl(209, 33%, 12%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(100, 55%, 68%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  display: grid;
  align-content: center;
  min-height: 100vh;
}

main,
footer {
  text-align: center;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  max-width: 700px;
  margin: 0 auto;
}

.logo {
  width: 3.5em;
}

.main__title {
  font-size: 1.45rem;
  font-weight: normal;
  color: var(--gray);
  padding-bottom: 1rem;
}

h1 span {
  font-weight: 700;
  color: initial;
}

.main__lead {
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

#email {
  border: 1px solid var(--pale-blue);
  border-radius: 50rem;
  font-size: 0.75em;
  padding: 0.6em 4em;
  width: 100%;
  color: var(--pale-blue);
  text-align: left;
}

.form__main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem 1.75rem 5rem 1.75rem;
}

.form-input {
  font-size: 0.5rem;
}

.form-btn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  border-radius: 50rem;
  font-size: 0.75em;
  padding: 0.75em 4em;
  width: 100%;
  box-shadow: 1px 1px 15px var(--pale-blue);
  max-height: 54.8px;
  white-space: nowrap;
}

.form-btn:hover {
  opacity: 0.8;
}

footer {
  padding-top: 0;
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.fa-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  color: var(--blue);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.fa-brands:hover {
  background-color: var(--blue);
  color: var(--white);
}

small {
  color: var(--gray);
  font-size: 0.65rem;
}

#error__msg {
  color: var(--light-red);
  font-size: 0.65rem;
  font-style: italic;
  text-align: left;
}

.hide {
  display: none;
}

@media (width>= 768px) {
  .main__title {
    font-size: 3rem;
  }
  .main__lead {
    font-size: 1.15rem;
  }

  .form__main {
    flex-direction: row;
  }
  .form__input-text {
    width: 100%;
  }

  #email,
  .form-btn {
    font-size: 0.8em;
    padding: 0.9em 3.5em;
  }
}
